//- model, data
-
  var header = '#experience'
  var experienceList = [
      {
        title: 'Junnior Web Developer',
        date: '2017 April - Present',
        company: 'Freelancer',
        responsabilityList: [
          'Assists in the design, coding, and testing of technical solutions.',
          'Applies knowledge of industry trends and developments to improve service to our clients.',
          'Understands project and development plans and is able to clearly articulate roles, project goals, and timelines',
          'Adheres to coding standards defined by technical management.',
          'Accurately employs our development tools.',
          'Establishes responsible deadlines and personal work plans.'
        ]
      },
      {
        title: 'Junnior Web Developer',
        date: '2016 May - 2017 March',
        company: 'Freelancer',
        responsabilityList: [
          'writing code in one or more programming or scripting languages, such as PHP or JavaScript',
          'deciding on the best technologies and languages for the project',
          'testing sites and applications in different browsers and environments',
          'testing new features thoroughly to ensure they perform the correct task in all cases',
          'building and maintaining databases',
          'documenting code so other developers can understand and contribute to it'
        ]
      },
      {
        title: 'Junnior Software Developer',
        date: '2014 Jan - 2016 Sept',
        company: 'Freelancer',
        responsabilityList: [
          'Develop and implement new software programs',
          'Maintain and improve the performance of existing software',
          'Clearly and regularly communicate with management and technical support colleagues',
          'Design and update software database',
          'Test and maintain software products to ensure strong functionality and optimization',
          'Recommend improvements to existing software programs as necessary'
        ]
      },
  ];

//-  view, presentation
//- CSS "+" :cheaked
  input coltroled container (div, or whatever)

#experience
.experience
  .experience__header=header
  input.experience__input(type="radio", name="same-name", id="experience-default")

  each experience, key in experienceList
    input.experience__input(type="radio", name="same-name", id=`experience-id-${key}`)
    label.experience__title(for=`experience-id-${key}`)
      | #{experience.title}
      label(for="experience-default")
        span.my-cv__icon--plus
    .experience__details
      .experience__top
        .experience__date=experience.date
        .experience__company=experience.company
      .experience__list
        each responsability in experience.responsabilityList
          .experience__responsability=responsability

